*{
    box-sizing: border-box;
}

h1, h2, p, #winner-text{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: 800;
}

header{
    background-color: rgb(49, 49, 49);
    color: rgb(245, 245, 88);
    font-size: 48px;
    align-self: stretch;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    gap: 2em;
}

#score{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

#player-score,
#computer-score{
    border: solid;
}

img{
    max-width: 250px;
    max-height: 250px;
    padding: 30px;
}

.rps-btn{
    background-color: white;
    border-radius: 100%;
}

#score #player-score,
#score #computer-score{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10%;
    background-color: white;
}

#player-score p,
#computer-score p{
    color: black;
    font-size: 24px;
}

#buttons{
    display: flex;
    justify-content: center;
    gap: 2em;
}

#winner-text{
    font-size: 36px;
    background-color:rgb(49, 49, 49);
    color: rgb(245, 245, 88);
    align-self: stretch;
    padding: 8px;
}

#restart{
    padding: 10px;
    border-radius: 10px;
    background-color:rgb(49, 49, 49);
    color: rgb(245, 245, 88);
    font-size: 28px;
    font-weight: 800;
    border-color: black;
}

@media only screen and (max-width: 600px)
{
    header{
        font-size: 24px;
    }
    
    #score{
        gap: 50px;
        flex-wrap: wrap;
    }

    img{
        max-width: 125px;
        max-height: 125px;
        padding: 15px;
    }
    
    #score #player-score,
    #score #computer-score{
        gap: 10px;
    }
    
    #player-score p,
    #computer-score p{
        font-size: 12px;
    }
    
    #buttons{
        gap: 1em;
        flex-wrap: wrap;
    }

    #winner-text{
        font-size: 16px;
        background-color:rgb(49, 49, 49);
        color: rgb(245, 245, 88);
        align-self: stretch;
    }

    

}